@model  Tuple<Bank.Models.PrzlewModel, Bank.Models.PrzlewCyklicznyModel>
@{
    ViewBag.Title = "Przelewy";
}
<section class="przelew">
    <h2>Przelew jednorazowy</h2>
    <fieldset>
        <legend>PrzelewJednorazowy</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Item1.PrzelewFirstName)
                @Html.TextBoxFor(m => m.Item1.PrzelewFirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.Item1.PrzelewSurname)
                @Html.TextBoxFor(m => m.Item1.PrzelewSurname)
            </li>
            <li>
                @Html.LabelFor(m => m.Item1.PrzelewId)
                @Html.TextBoxFor(m => m.Item1.PrzelewId)
            </li>
            <li>
                @Html.LabelFor(m => m.Item1.PrzelewText)
                @Html.TextBoxFor(m => m.Item1.PrzelewText)
            </li>

        </ol>
        <button type="button">Wyślij</button>
    </fieldset>
</section>

<section class="przelewCykliczny">
    <h3>Przelew cykliczny</h3>
    <fieldset>
        <legend>PrzelewCykliczny</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Item2.CPrzelewFirstName)
                @Html.TextBoxFor(m => m.Item2.CPrzelewFirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.Item2.CPrzelewSurname)
                @Html.TextBoxFor(m => m.Item2.CPrzelewSurname)
            </li>
            <li>
                @Html.LabelFor(m => m.Item2.CPrzelewId)
                @Html.TextBoxFor(m => m.Item2.CPrzelewId)
            </li>
            <li>
                @Html.LabelFor(m => m.Item2.CPrzelewText)
                @Html.TextBoxFor(m => m.Item2.CPrzelewText)
            </li>
            <li>
                @Html.LabelFor(m => m.Item2.CPrzelewTime)
                @Html.TextBoxFor(m => m.Item2.CPrzelewTime)
            </li>

        </ol>
        <button type="button">Wyślij</button>
    </fieldset>
</section>

<span>Lista przelewów cyklicznych</span>
<table>
    <head>
        <title>Lista przelewów cyklicznych</title>
        <style type="text/css">
            table {
                border-collapse: collapse;
                width 1000px;
            }

            td {
                border: 2px solid #000000;
                padding: 5px;
            }
        </style>
    </head>
    <tbody>
        <tr class="header">
            <td>Imie</td>
            <td>Nazwisko</td>
            <td>Tytuł</td>
            <td>Kwota</td>
            <td>Data zlecenia</td>
            <td>Co ile dni</td>
            <td>Anuluj przelew</td>
        </tr>
        <tr>
            <td>Mikołaj</td>
            <td>Rej</td>
            <td>Obciążenie</td>
            <td>3000</td>
            <td>02-01-2016</td>
            <td>15</td>
            <td><button type="button">Anuluj</button></td>
        </tr>
        <tr>
            <td>Maciej</td>
            <td>Kontko</td>
            <td>Uznanie</td>
            <td>215</td>
            <td>21-08-2015</td>
            <td>30</td>
            <td><button type="button">Anuluj</button></td>
        </tr>
    </tbody>
</table>








